<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header -->
    <header>
      <!-- logo -->
      <div class="nav container">
        <a href="/" class="logo">Nur<span>lan</span> </a>
        <div class="nav-right">
          <a href="/admin" class="admin-btn"><i class="bx bxs-user"></i></a>
          <a href="/add" class="write-btn"
            ><i class="bx bxs-pencil"></i>Write</a
          >
        </div>
      </div>
    </header>

    <!-- Home -->
    <section class="home">
      <div class="home-content">
        <h2>The Nurlan Blog</h2>
        <div class="search-box">
          <i class="bx bx-search"></i>
          <input type="search" name="" id="" placeholder="Search" />
        </div>
      </div>
    </section>

    <!-- Posts -->

    <section class="posts container" id="posts">
      <!-- post will show here  -->
    </section>
    
    <footer>

        <div class="footer container">
            <p>Nurlan Rajabov </p>
            <div class="social">
                <a href=""><i class='bx bxl-linkedin-square' ></i></a>
                <a href=""><i class="bx bxl-whatsapp"></i></a>
                <a href=""><i class="bx bxl-instagram"></i></a>
                
            </div>


        </div>

    </footer>

    <!-- Link to js -->
    <script src="/js/main.js"></script>
  </body>
</html>
