<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <!-- logo -->
      <div class="nav container">
        <a href="/" class="logo">Nur<span>lan</span> </a>
        <div class="nav-right">
          <a href="/admin" class="admin-btn"><i class="bx bxs-user"></i></a>
          <a href="/add" class="write-btn"
            ><i class="bx bxs-pencil"></i>Write</a
          >
        </div>
      </div>
    </header>

    <!-- Home -->
<section class="home" style="background-image: url('/images/bg.jpg');">
  <div class="home-content">
    <h2>The Nurlan Blog</h2>
    <div class="search-box">
      <i class="bx bx-search"></i>
      <input type="search" name="" id="" placeholder="Search" />
    </div>
  </div>
</section>

    <!-- Post filter -->
    <div class="post-filter container" id=>
      <span class="filter-item active-filter" data-filter="all">All</span>
      <span class="filter-item" data-filter="art">Art</span>
      <span class="filter-item" data-filter="technology">Technology</span>
      <span class="filter-item" data-filter="food">Food</span>
    </div>

    <!-- Posts -->

    <section class="posts container" id="posts">
      <!-- post will show here  -->
    </section>

    <footer>
      <div class="footer container">
        <p>Nurlan Rajabov</p>
        <div class="social">
          <a href="https://www.linkedin.com/in/nurlan-rajabov-0b37b022a/"><i class="bx bxl-linkedin-square"></i></a>
          <a href="https://wa.me/994504922623"><i class="bx bxl-whatsapp"></i></a>
          <a href="https://www.instagram.com/nurlan.racab/"><i class="bx bxl-instagram"></i></a>
        </div>
      </div>
    </footer>

    <!-- Link to js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>

    <!-- <script>
    $(document).ready(function () {
  $(".filter-item").click(function () {
    const value = $(this).attr("data-filter");
    if (value === "all") {
      $(".post-card").show("1000");
    } else {
      $(".post-card").not("." + value).hide("1000");
      $(".post-card").filter("." + value).show("1000");
    }

    // Aktiv filter sinfi yeniləmə
    $(".filter-item").removeClass("active-filter");
    $(this).addClass("active-filter");
  });
});

    </script> -->
  </body>
</html>
